includes:
    - vendor/silverassist/coding-standards/phpstan/base.neon
    - vendor/silverassist/wp-coding-standards/phpstan/base.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    paths:
        - includes
    bootstrapFiles:
        - graphql-shortcode-support.php
    scanDirectories:
        - vendor
    excludePaths:
        - tests/*
        - build/*
    ignoreErrors:
        - identifier: classConstant.unused
        - identifier: function.notFound
